<div class="chat-message-area">
  <section id="messages" data-channel="messages" data-message-id="<%= default_deck.id %>">
      <%= render default_deck.messages %>
  </section>
</div>
<div style="clear: both;width:100%;margin-bottom: 0.5cm;"></div>
<div class="fader"></div>
