<h1 class="alert alert-info this-works">
  <span class="pt-icon-large pt-icon-people" style="font-size:60px;color:#31708f;"></span>
  Invite
</h1>

<%= render 'form', share: @share %>

<%= link_to 'Back', shares_path %>
