<div class="col-xs-12 col-sm-12">
  <!-- copy main element to have full width container -->
  <header class="header-element header-element-bg epic-header-1" style="background-image: url('images/header-img/header-1.png');">
    <div class="container-fluid element-content text-center">
      <div class="header-info">
        <h2 class="color-white">EPIC UI KIT</h2>
        <p class="color-white">A complex, elegant and clean UI kit that should suit all your needs</p>
        <button class="btn btn-default">LEARN MORE</button>
      </div>
    </div>
  </header>
  <!-- main element end -->
</div>


<div class="col-md-3">
</div>
<div class="col-md-6">
  <h3>Bacon ipsum dolor amet pig turkey prosciutto</h3>
  <p>
    Bacon ipsum dolor amet pig turkey prosciutto, sirloin salami meatloaf turducken ham hock bacon short ribs beef.
    Tri-tip picanha porchetta spare ribs burgdoggen chicken kevin shoulder beef ribs landjaeger ball tip jerky alcatra jowl.
    Porchetta ball tip swine pastrami, doner boudin leberkas tenderloin picanha.
  </p>
    <br />
    <center>
      <%= link_to image_tag('google.png', style: 'width:40%;'), user_omniauth_authorize_path(:google_oauth2, :signup => true) %>
    </center>
</div>
<div class="col-md-3">
</div>
