<div class="col-xs-12 col-sm-12">
  <!-- copy main element to have full width container -->
  <header class="header-element header-element-bg epic-header-1" style="background-image: url('images/header-img/header-1.png');">
    <div class="container-fluid element-content text-center">
      <div class="header-info">
        <h2 class="color-white">EPIC UI KIT</h2>
        <p class="color-white">A complex, elegant and clean UI kit that should suit all your needs</p>
        <%= link_to 'login to google to get early access', user_omniauth_authorize_path(:google_oauth2, :signup => true), class: 'btn btn-default' %>
      </div>
    </div>
  </header>
  <!-- main element end -->
</div>
