<header>
</header>

<section class="content cta">
  <h1>Raising money for your startup?</h1>
  <h3>Get free expert advice in real-time!</h3>
  <form action="/preview" method="post" class="main-cta">
    <input type="text" id="url_input" name="url" class="input-main-cta top" placeholder="Your email address">
    <button type="submit" class="btn-main-cta" href="loading.html">Send to Messenger</button>
    <br>
  </form>
  <p><center>Or you can just send a "hello" message via the <a href="">Facebook Messenger website.</a></center></p>
</section>
