<% if false %>
<div class='contacts'>
  <h4>Contacts</h4>
  <%= react_component("DogoApp", props: {contacts: @contacts}) %>
  <h4>Analtyics</h4>
  <label class="pt-label .modifier">
    Select your website:
    <div style="width:20%;" class="pt-select">
      <%= select_tag(:portal, options_for_select(@ga_portals.collect {|x| [x.name, x.inspect] if x.name.present? && !x.name.include?('Raw Data') }.reverse), class: 'website-select', onclick: 'App.websiteSelect();') %>
    </div>
  </label>
  <h4>Calendar Appointments</h4>
</div>
<% end %>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '230502080710202',
    xfbml      : true,
    version    : 'v2.6'
  });

  FB.Event.subscribe('messenger_checkbox', function(e) {
    console.log("messenger_checkbox event");
    console.log(e);

    if (e.event == 'rendered') {
      console.log("Plugin was rendered");
    } else if (e.event == 'checkbox') {
      var checkboxState = e.state;
      console.log("Checkbox state: " + checkboxState);
    } else if (e.event == 'not_you') {
      console.log("User clicked 'not you'");
    } else if (e.event == 'hidden') {
      console.log("Plugin was hidden");
    }

  });
};
(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

function confirmOptIn() {
 FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
   'app_id':'230502080710202',
   'page_id':'1853353121565048',
   'ref':'PASS_THROUGH_PARAM',
   'user_ref':'<%= @param %>'
 });
}
</script>

<div class="fb-messenger-checkbox"
<% if Rails.env.production? %>
  origin=https://dogo-staging.herokuapp.com
<% else %>
  origin=https://d3803efd.ngrok.io
<% end %>
  page_id=1853353121565048
  messenger_app_id=230502080710202
  user_ref="<%= @param %>"
  prechecked="true"
  allow_login="true"
  size="medium">
</div>


 <input type="button" onclick="confirmOptIn()" value="Confirm Opt-in"/>
