<div class='contacts'>
  <h4>Contacts</h4>
  <%= react_component("DogoApp", props: {contacts: @contacts}) %>
  <h4>Analtyics</h4>
  <label class="pt-label .modifier">
    Select your website:
    <div style="width:20%;" class="pt-select">
      <%= select_tag(:portal, options_for_select(@ga_portals.collect {|x| [x.name, x.inspect] if x.name.present? && !x.name.include?('Raw Data') }.reverse), class: 'website-select', onclick: 'App.websiteSelect();') %>
    </div>
  </label>
  <h4>Calendar Appointments</h4>
</div>
<div class='clearbit'>

</div>
<div class="fb-messenger-checkbox"
  origin=https://dogo-staging.herokuapp.com
  page_id=1853353121565048
  messenger_app_id=230502080710202
  user_ref="UNIQUE_REF_PARAM"
  prechecked="true"
  allow_login="true"
  size="large">
</div>

<script>
window.fbAsyncInit = function() {
   FB.init({
     appId      : '230502080710202',
     xfbml      : true,
     version    : 'v2.6'
   });

 };

 (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk')
 );
</script>
