<% if false %>
<div class='contacts'>
  <h4>Contacts</h4>
  <%= react_component("DogoApp", props: {contacts: @contacts}) %>
  <h4>Analtyics</h4>
  <label class="pt-label .modifier">
    Select your website:
    <div style="width:20%;" class="pt-select">
      <%= select_tag(:portal, options_for_select(@ga_portals.collect {|x| [x.name, x.inspect] if x.name.present? && !x.name.include?('Raw Data') }.reverse), class: 'website-select', onclick: 'App.websiteSelect();') %>
    </div>
  </label>
  <h4>Calendar Appointments</h4>
</div>
<% end %>

<input type="button" onclick="confirmOptIn()" value="Confirm Opt-in"/>
