/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 *= require font-awesome
 *= require_tree .
 *= require_self
 */


/*
 * Globals
 */

/* Links */
a {
  outline: 0;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


/*
 * Base structure
 */

html,
body {
  font-family: 'Roboto', serif;
  height: 100%;
}
button:focus {outline:0;}
.navbar-brand {
  font-family: 'Roboto', serif;
  color: #8c91ff;
  padding: 10px 0px;
}
.container {
  background-color: white;
}
.newDeck {
  padding: 15px;
}

.main {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 100px;
}
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
          margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
h3 {
  text-align: center;
  line-height: 300%;
}
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}
.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}
