<h1 class="alert alert-info this-works"><span class="pt-icon-large pt-icon-upload" style="font-size:60px;color:#31708f;"></span>  Upload Deck</h1>
<div data-modifier=".pt-inline"></div>
<%= render 'form', deck: @deck %>

<%= link_to 'Back', decks_path %>
